@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5D9B6;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

.title__container {
    background-color: #285430;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
}

.title {
    font-size: 4rem;
    color: #A4BE7B;
}

.recipes__container {
    margin: 0 auto;
    max-width: 120rem;
    padding: 2rem;
}

.recpie__list {
    margin: 0;
    padding: 0;
}

.recipe {
    display: flex;
    align-items: center;
    gap: 2rem;

    background-color: #a4be7b9d;
    color: #285430;
    font-size: 2rem;
    margin: 2rem auto;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}

.recipe__image {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    transition: .5s ease;

}

.recipe__name {
    font-size: 2rem;
    min-width: 20rem;
}
 
.recipe__description {
    padding: 1rem;
}

.recipe__link {
    background-color: #285430;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    padding: .5rem 0;
    min-width: 20rem;

    transition: background .5s ease;
}

.recipe__link:hover {
    background-color: #08110a;
    opacity: 0.9;
    transform: translateY(2px);
}


@media screen and (max-width: 768px) {
    
    .recipes__container {
        width: 90%;
    }

    .recipe {
        flex-direction: column
    }

    .recipe__image {
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .recipe__link {
        text-align: center;
        width: 100%;
    }

    .title {
        font-size: 20px;
        padding: 0;
        margin-bottom: 10px;
    }

    .recipe__description {
        font-size: 14px;
        margin-bottom: 10px;
    }

}